{% extends "base.html.twig" %}
{% block body %}
    {% embed 'Structure/Form/create_structure.html.twig' with {'title': data} %}
        {% block form_content %}

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.leading_person) }}
                {{ form_widget(form.leading_person, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.therapy_room) }}
                {{ form_widget(form.therapy_room, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.number_of_patients) }}
                {{ form_widget(form.number_of_patients, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center mt-4">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        {% endblock %}

    {% endembed %}
{% endblock %}
