{% extends "base.html.twig" %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('treatment_create') }}" class="btn btn-primary mb-3">Dodaj zabieg</a>
            <table class="table table-success transparent-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Prowadzący</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for treatment in treatments %}
                    <tr>
                        <th scope="row">{{ treatment.id }}</th>
                        <td>{{ treatment.name }}</td>
                        <td>{{ treatment.leadingPerson.fullname }}</td>
                        <td>
{#                            <a href="{{ path('place_edit', {'id': place.id}) }}" class="btn btn-info">Edit</a>#}
{#                            <a href="{{ path('place_delete', {'id': place.id}) }}" class="btn btn-danger" onclick="return confirm('Czy jesteś pewny?')">Usuń</a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>
{% endblock %}