{% extends "base.html.twig" %}
{% block body %}
    {% embed 'Structure/Form/create_structure.html.twig' with {'title': 'First step'} %}
        {% block form_content %}
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.pesel) }}
                {{ form_widget(form.pesel, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.referral_number) }}
                {{ form_widget(form.referral_number, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}




            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}