{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
        <div class="container">
            <section id="about" class="about">
                <div class="section-title">
                    <h2>Twoje rezerwacje</h2>
                    <p>Przeglądaj swoje rezerwacje oraz monitoruj statusy</p>
                </div>
                {% for reservation in reservations %}
                    <div class="card text-center mb-3" style="max-width: 50%; margin: 0 auto;">
                        <div class="card-header">
                            Identyfikator rezerwacji: <b> {{ reservation.getId() }} </b>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ reservation.getPlannedStay().getId() }}</h5>
                            <p class="card-text">Termin: </p>
                            <p class="card-text">{{ reservation.getPlannedStay().getStartDate()|date("d/m/Y") }}
                                - {{ reservation.getPlannedStay().getEndDate()|date("d/m/Y") }}</p>
                            <p class="card-text">Status: <span class="{% if reservation.getStatus() == 'waiting' %}
                                text-dark
                            {% elseif reservation.getStatus() == 'accepted' %}
                                text-success
                            {% elseif reservation.getStatus() == 'rejected' %}
                                text-danger
                            {% else %}
                                text-muted
                            {% endif %}">{% if reservation.getStatus() == 'waiting' %}
                                Oczekiwanie
                            {% elseif reservation.getStatus() == 'accepted' %}
                                        Zaakceptowano
                                    {% elseif reservation.getStatus() == 'rejected' %}
                                        Odrzucony
                                    {% else %}
                                        Nieznany
                                    {% endif %}</span></p>
                            <a href="{{ path('UserReservationShow', {'id': reservation.getId()}) }}"
                               class="btn btn-info">Więcej
                                informacji</a>
                        </div>
                        <div class="card-footer text-muted">
                            Data aktualizacji: {{ reservation.getCreated()|date('d.m.Y') }}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}