{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('UserReservationCreate') }}" class="btn btn-primary mb-3">Zamów pobyt</a>


                <div class="card text-center mb-3">
                    <div class="card-header">
                        Identyfikator rezerwacji: <b> {{ reservation.getId() }} </b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ reservation.getPlannedStay().getRehabilitationStay().getName() }}</h5>
                        <p>Ilość osób: {{ reservation.getNumOfPeople() }}</p>
                        <p>Koszt: {{ totalCost }}</p>
                        <p class="card-text">Data rozpoczęcia: {{ reservation.getPlannedStay().getStartDate()|date("d/m/Y") }}</p>
                        <p class="card-text">Data zakończenia: {{ reservation.getPlannedStay().getEndDate()|date("d/m/Y") }}</p>
                        <p><a href="{{ path('room_show', {'id': reservation.getRoom().getId()}) }}" class="card-text">Zakwaterowanie: Pokój numer {{ reservation.getRoom().getRoomNumber() }}</a></p>
                        <a href="{{ path('calendar_usershow', {'id': reservation.getPlannedStay().getId()}) }}" class="btn btn-info">Plan pobytu</a>
                        <a href="{{ path('rehabilitation_stay_show', {'id': reservation.getPlannedStay().getRehabilitationStay().getId()}) }}" class="btn btn-info">Zobacz informacje o turnusie</a>
                    </div>
                    <div class="card-footer text-muted">
                        Data aktualizacji: {{ reservation.getCreated()|date('d.m.Y H:i')}}
                    </div>
                </div>

        </section>
    </main>
{% endblock %}