{% extends "base.html.twig" %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('reservation_create') }}" class="btn btn-primary mb-3">Dodaj rezerwację</a>
            <table class="table table-success transparent-table">
                <thead>
                <tr>
                    <th scope="col">Turnus</th>
                    <th scope="col">Klient</th>
                    <th scope="col">Zakwaterowanie</th>
                    <th scope="col">Numer ewidencyjny</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <th>
                            <a href="{{ path("rehabilitation_stay_show", {'id': reservation.getPlannedStay().getRehabilitationStay().getId()}) }}">
                                {{ reservation.getPlannedStay().getRehabilitationStay().getName() }}
                            </a>
                        </th>
                        <td>{{ reservation.getClient().getFullname() }}</td>
                        <td>{{ reservation.getRoom().getRoomNumber() }}</td>
                        <td>{{ reservation.getReferralNumber() }}</td>
                        <td>
                            <a href="" class="btn btn-info">Edytuj</a>
                            <a href="" class="btn btn-danger" onclick="return confirm('Czy jesteś pewny?')">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>
{% endblock %}