{% extends "base.html.twig" %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('rehabilitation_stay_create') }}" class="btn btn-primary mb-3">Tworzenie turnusu</a>
            <table class="table table-success transparent-table">
                <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th>Czas trwania turnusu</th>
                    <th>Profil leczenia</th>
                    <th></th>


                </tr>
                </thead>
                <tbody>
                {% for rehabilitationStay in rehabilitationStays %}
                    <tr>
                        <td>
                        <a href="{{ path('rehabilitation_stay_show', {'id': rehabilitationStay.id}) }}">{{ rehabilitationStay.name }}</a>
                        </td>
                        <td>{{ rehabilitationStay.getDuration() }}</td>
                        <td>{{ rehabilitationStay.getTreatmentProfile().getName() }}</td>
                        <td>
                            <a class="btn btn-light" href="{{ path('treatment_plan_create', {'id': rehabilitationStay.id}) }}">Planowanie zabiegów</a>
                            <a class="btn btn-light" href="{{ path('calendar_show', {'id': rehabilitationStay.getId()}) }}">Plan zajęć</a>
                            <a class="btn btn-light" href="{{ path('calendar_render', {'id': rehabilitationStay.getId()}) }}" target="_blank">Pobierz plan</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>
{% endblock %}