{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
        <div class="container">
            <section id="about" class="about">
                <div class="section-title">
                    <h2>Podgląd zaplanowanego turnusu</h2>
                    <p>Przeglądaj informacje o zaplanowanym turnusie</p>
                </div>
                    <table class="table table-bordered transparent-table text-white">
                        <tbody>
                        <tr>
                            <td width="40%"><strong>Turnus:</strong></td>
                            <td width="30%">{{ plannedStay.getRehabilitationStay().getName() }}</td>
                        </tr>
                        <tr>
                            <td><strong>Profil leczenia</strong></td>
                            <td>{{ plannedStay.getRehabilitationStay().getTreatmentProfile().getName() }}</td>
                        </tr>
                        <tr>
                            <td><strong>Data rozpoczęcia:</strong></td>
                            <td>{{ plannedStay.getStartDate()|date('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Data zakończenia</strong></td>
                            <td>{{ plannedStay.getEndDate()|date('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Koszt turnusu</strong></td>
                            <td>{{ totalCost }}</td>
                        </tr>

                        <tr>
                            <td>Lista uczestników</td>
                            <td>
                                <ul>
                                    {% for user in users %}
                                        <li>
                                            <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.fullname }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </section>
        </div>
    </main>
{% endblock %}