<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <title>{% block title %}Paweł Cetnarowski {% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css') }}" rel="stylesheet">


        <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    {% endblock %}

    <style>
        html {
            height: 100%;
            position: relative;
        }

        html::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/59/Sanatorium_Rownica_interior.jpg');
            background-size: cover;
            filter: blur(10px);
            z-index: -1;
        }


        .reserve-btn-container {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

        .reserve-btn {
            background-color: #151a59;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
        }

        .reserve-btn:hover {
            background-color: #3c8613;
            color: white;
            text-decoration: none;
        }
    </style>


</head>

<body>
{% block header %}
    {% if is_granted('ROLE_USER') %}
        <header id="header">
            <div class="d-flex flex-column">

                <div class="profile">
                    <img src="{{ asset('assets/img/profile-img.jpg') }}" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="{{ path('home') }}">
                            Witaj,
                            {% set fullName = app.user.fullname %}
                            {% set firstName = fullName|split(' ')|first %}
                            {{ firstName }}</a>
                    </h1>
                    <h1 class="text-light"><a href="{{ path('home') }}">Sanatorium Elda</a></h1>
                    <div class="social-links mt-3 text-center">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                    <div class="reserve-btn-container">
                        <a href="{{ path('UserReservationCreate1') }}"
                           class="nav-link reserve-btn reserve-btn-container">Zarezerwuj Pobyt</a>
                    </div>
                </div>


                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li>

                        </li>

                        <li><a href="{{ path('home') }}" class="nav-link"><i class="bx bx-home"></i>
                                <span>Start</span></a></li>
                        <li><a href="{{ path('user_show') }}" class="nav-link"><i class="bx bx-user"></i>
                                <span>Twoje dane</span></a></li>
                        <li><a href="{{ path('UserReservationListing') }}" class="nav-link"> <i
                                        class="bx bx-file-blank"></i>
                                <span>Rezerwacje</span></a></li>

                        <li><a href="" class="nav-link"><i class="bx bx-server"></i>
                                <span>Kontakt</span></a></li>
                        <li><a href="{{ path('logout') }}" class="nav-link"><i class="bx bx-envelope"></i>
                                <span>Wyloguj</span></a></li>

                    </ul>
                </nav>

                {% if is_granted('ROLE_ADMIN') %}
                {# ADMIN FUNCTIONS #}

                <div class="profile">
                    <h1 class="text-light"><a href="index.html">Sanatorium</a></h1>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Użytkownicy</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('user_create') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Dodaj użytkownika</a>
                            </li>
                            <li><a href="{{ path('user_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Lista użytkowników</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Rezerwacje - klienci</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('reservation_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Wszystkie rezerwacje</a>
                            </li>
                            <li><a href="{{ path('reservation_status_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Do akceptacji</a>
                            </li>
                            <li><a href="{{ path('reservation_accepted') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Zatwierdzone
                                    rezerwacje</a></li>
                            <li><a href="{{ path('reservation_rejected') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Odrzucone rezerwacje</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Turnusy - zarządzanie</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('rehabilitation_stay_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Lista turnusów</a>
                            </li>
                            <li><a href="{{ path('planned_stay_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Planuj turnus</a></li>
                            <li><a href="{{ path('treatment_plan_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Planuj zabiegi</a></li>
                            <li><a href="{{ path('treatment_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Zabiegi</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Profile leczenia</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('treatment_profile_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Lista profilów leczenia</a>
                            </li>
                            <li><a href="{{ path('treatment_profile_create') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Dodaj nowy profil</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Sale zabiegowe</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('therapy-room-listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Lista sal zabiegowych</a>
                            </li>
                            <li><a href="{{ path('therapy-room-create') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Dodaj salę</a>
                            </li>
                        </ul>
                    </div>


                </ul>
            </nav>
            <div class="profile">
                <h1 class="text-light"><a href="index.html">Hotel</a></h1>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-building-house"></i>
                            <span>Pokoje hotelowe</span>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a href="{{ path('room_listing') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Lista pokoi</a>
                            </li>
                            <li><a href="{{ path('room_create') }}" class="nav-link"><i
                                            class="bx bx-book-content"></i>Dodaj pokój</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </nav>
            {% endif %}
        </header>
    {% endif %}
{% endblock header %}

{% block body %}



{% endblock body %}


<!-- Vendor JS Files -->
<script src="{{ asset('https://code.jquery.com/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('assets/vendor/typed.js/typed.min.js') }}"></script>
<script src="{{ asset('assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js') }}"></script>


<!-- Template Main JS File -->
<script src="{{ asset('assets/js/main.js') }}"></script>
</body>

</html>
