{% extends "base.html.twig" %}
{% block body %}
    <style>
        .pagination a {
            padding: 5px 10px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #portfolio {
            margin-top: -50px;
        }
    </style>
    <main id="main">
        <div class="container">
        <section id="about" class="about">
            <div class="section-title">
                <h2>Akceptacja zgłoszeń</h2>
                <p>Każda rezerwacja musi zostać sfinalizowana przez administratora</p>
            </div>
            <table class="table table-bordered transparent-table">
                <thead>
                <tr>
                    <th scope="col">Rezerwacja</th>
                    <th scope="col">Zamawiający</th>
                    <th scope="col">Zaplanowany turnus</th>
                    <th scope="col">Okres trwania</th>
                    <th scope="col">Utworzono</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for paginate in pagination %}
                    <tr>
                        <th scope="row">{{ paginate.id }}</th>
                        <td>{{ paginate.getClient().getFullName() }}</td>
                        <td>{{ paginate.getPlannedStay().getRehabilitationStay().getName() }}</td>
                        <td>{{ paginate.getPlannedStay().getStartDate()|date('d.m.Y') }} - {{ paginate.getPlannedStay().getEndDate()|date('d.m.Y') }}</td>
                        <td>{{ paginate.getPlannedStay().getCreated()|date('d.m.Y') }}</td>
                        <td>{% if paginate.getStatus() == 'waiting' %}
                                Oczekiwanie
                            {% elseif paginate.getStatus() == 'accepted' %}
                                Zaakceptowano
                            {% elseif paginate.getStatus() == 'rejected' %}
                                Odrzucony
                            {% else %}
                                Nieznany
                            {% endif %}</td>
                        <td>
                            <a href="{{ path('reservation_status_accept', {'id': paginate.id}) }}" class="btn btn-success">Akceptuj</a>
                            <a href="{{ path('reservation_status_reject', {'id': paginate.id}) }}" class="btn btn-danger">Odrzuć</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <section id="portfolio" class="portfolio" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                {% if pagination.currentPageNumber > 1 %}
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber - 1})) }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true"></span>
                                        <span class="sr-only"><<</span>
                                    </a>
                                </li>
                                {% endif %}

                                <li{% if pagination.currentPageNumber == 1 %} class="filter-active"{% endif %}">
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': 1})) }}">1</a>
                                </li>

                                {% if pagination.currentPageNumber > 2 %}
                                <li class="disabled">
                                    <span>...</span>
                                </li>
                                {% endif %}

                                {% if pagination.currentPageNumber > 1 and pagination.currentPageNumber < pagination.pageCount %}
                                <li class="filter-active">
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber})) }}">{{ pagination.currentPageNumber }}</a>
                                </li>
                                {% endif %}

                                {% if pagination.currentPageNumber < pagination.pageCount - 1 %}
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber + 1})) }}">{{ pagination.currentPageNumber + 1 }}</a>
                                </li>
                                {% endif %}

                                {% if pagination.currentPageNumber < pagination.pageCount - 1 %}
                                <li class="disabled">
                                    <span>...</span>
                                </li>
                                {% endif %}

                                {% if pagination.pageCount > 1 %}
                                <li{% if pagination.currentPageNumber == pagination.pageCount %}
                                        class="filter-active"{% endif %}">
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.pageCount})) }}">{{ pagination.pageCount }}</a>
                                </li>
                                {% endif %}

                                {% if pagination.currentPageNumber < pagination.pageCount %}
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber + 1})) }}"
                                       aria-label="Next">
                                        <span aria-hidden="true"></span>
                                        <span class="sr-only">>></span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        </div>
    </main>
{% endblock %}