{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
        <section id="about" class="about">
            <table class="table table-success transparent-table">
                <thead>
                <tr>
                    <th scope="col">Rezerwacja</th>
                    <th scope="col">Zamawiający</th>
                    <th scope="col">Zaplanowany turnus</th>
                    <th scope="col">Okres trwania</th>
                    <th scope="col">Utworzono</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <th scope="row">{{ reservation.id }}</th>
                        <td>{{ reservation.getClient().getFullName() }}</td>
                        <td>{{ reservation.getPlannedStay().getRehabilitationStay().getName() }}</td>
                        <td>{{ reservation.getPlannedStay().getStartDate()|date('d.m.Y') }} - {{ reservation.getPlannedStay().getEndDate()|date('d.m.Y') }}</td>
                        <td>{{ reservation.getPlannedStay().getCreated()|date('d.m.Y') }}</td>
                        <td>{% if reservation.getStatus() == 'waiting' %}
                                Oczekiwanie
                            {% elseif reservation.getStatus() == 'accepted' %}
                                Zaakceptowano
                            {% elseif reservation.getStatus() == 'rejected' %}
                                Odrzucony
                            {% else %}
                                Nieznany
                            {% endif %}</td>
                        <td>
                            <a href="{{ path('reservation_status_accept', {'id': reservation.id}) }}" class="btn btn-success">Akceptuj</a>
                            <a href="{{ path('reservation_status_reject', {'id': reservation.id}) }}" class="btn btn-danger">Odrzuć</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>
{% endblock %}