{% extends "base.html.twig" %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('user_create') }}" class="btn btn-primary mb-3">Dodaj użytkownika</a>
            <table class="table table-success">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Imię i nazwisko</th>
                    <th scope="col">Nazwa użytkownika</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>

{% endblock %}