{% extends "base.html.twig" %}
{% block body %}

    <main id="main">

            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Imię i nazwisko</th>
                    <th scope="col">Nazwa użytkownika</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.fullname }}</a>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info">Edytuj</a>
                            <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Czy jesteś pewny?')">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



    </main>

{% endblock %}