{% extends "base.html.twig" %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>{{ user.fullname }}</h2>
{#                    <p>Jeżeli widzisz błąd, prosimy o kontakt z administratorem systemu!</p>#}
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Twoje dane osobiste</h3>

                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Imię i nazwisko:</strong> <span>{{ user.fullname }}</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Adres email:</strong> <span>{{ user.email }}</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Nazwa użytkownika:</strong> <span>{{ user.username }}</span></li>
{#                                    <li><i class="bi bi-chevron-right"></i> <strong>Płeć:</strong> <span>{{ user.gender }}</span></li>#}

                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li><i class="bi bi-chevron-right"></i> <strong>Uprawnienia:</strong>
                                        <span>
                                            <ul>
                                                {% for role in app.user.roles %}
                                                     {{ role }}
                                                {% endfor %}
                                            </ul>
                                        </span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Telefon kontaktowy:</strong> <span>+00 000 000 000</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Status:</strong> <span>Master</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Podczas tworzenia konta wyraziłeś zgodę na przetwarzanie Twoich danych osobowych.
                        </p>
                    </div>
                </div>

            </div>
        </section>

    </main>
{% endblock %}